<mat-nav-list>
  <div class="nav-list">
    <mat-list-item class="nav-list__item" routerLink="/home">
      <mat-icon matListItemIcon>home</mat-icon>
      <span>Домой</span>
    </mat-list-item>
    <mat-list-item class="nav-list__item" routerLink="/catalog">
      <mat-icon matListItemIcon>notes</mat-icon>
      <span>Каталог</span>
    </mat-list-item>
    <mat-list-item class="nav-list__item" (click)="onLogout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span>Выход</span>
    </mat-list-item>
  </div>
</mat-nav-list>
