<mat-nav-list>
  <div class="nav-list">

    <div class="user-photo-container">
      <img [src]="
         'https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHByb2dyYW1taW5nJTIwYW5ndWxhcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60'
      " alt="User Photo"/>
    </div>

    <mat-list-item class="nav-list__item" routerLink="/home">
      <mat-icon matListItemIcon>home</mat-icon>
      <span>Домой</span>
    </mat-list-item>
<!--    @if (isAuth()) {-->
<!--      <mat-list-item class="nav-list__item" routerLink="/my-servers">-->
<!--        <mat-icon matListItemIcon>dns</mat-icon>-->
<!--        <span>Мои сервера</span>-->
<!--      </mat-list-item>-->
<!--      <mat-list-item class="nav-list__item" routerLink="/available-servers">-->
<!--        <mat-icon matListItemIcon>clouds</mat-icon>-->
<!--        <span>Доступные сервера</span>-->
<!--      </mat-list-item>-->
<!--      <mat-list-item class="nav-list__item" routerLink="/supports">-->
<!--        <mat-icon matListItemIcon>email</mat-icon>-->
<!--        <span>Обращения</span>-->
<!--      </mat-list-item>-->
<!--      <mat-list-item class="nav-list__item" (click)="onLogout()">-->
<!--        <mat-icon matListItemIcon>logout</mat-icon>-->
<!--        <span>Выход</span>-->
<!--      </mat-list-item>-->
<!--    } @else {-->
<!--      <mat-list-item class="nav-list__item" routerLink="/login">-->
<!--        <mat-icon matListItemIcon>login</mat-icon>-->
<!--        <span>Войти</span>-->
<!--      </mat-list-item>-->
<!--    }-->

    <mat-list-item class="nav-list__item" routerLink="/my-servers">
      <mat-icon matListItemIcon>dns</mat-icon>
      <span>Мои сервера</span>
    </mat-list-item>
    <mat-list-item class="nav-list__item" routerLink="/available-servers">
      <mat-icon matListItemIcon>clouds</mat-icon>
      <span>Доступные сервера</span>
    </mat-list-item>
    <mat-list-item class="nav-list__item" routerLink="/supports">
      <mat-icon matListItemIcon>email</mat-icon>
      <span>Обращения</span>
    </mat-list-item>
    <mat-list-item class="nav-list__item" (click)="onLogout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span>Выход</span>
    </mat-list-item>
  </div>
</mat-nav-list>
