<mat-card class="monitoring-card">

  <mat-card-header>
    <mat-card-title>Мониторинг</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="monitoring-card__uptime">
      <div class="uptime-name value-name">Uptime</div>
      <div class="uptime-value"></div>
    </div>

    <mat-divider></mat-divider>

    <ul class="monitoring-card__characteristics">
      <li class="characteristics-item">
        <div class="characteristics-item__name value-name">CPU</div>
        <div class="characteristics-item__value">{{server()?.CPU}}</div>
      </li>
      <li class="characteristics-item">
        <div class="characteristics-item__name value-name">Memory</div>
        <div class="characteristics-item__value">{{server()?.Memory}}</div>
      </li>
      <li class="characteristics-item">
        <div class="characteristics-item__name value-name">Disk</div>
        <div class="characteristics-item__value">{{server()?.Disk}}</div>
      </li>
    </ul>

    <mat-divider></mat-divider>

    <mat-card-actions class="card-btns-wrapper">
      <button mat-raised-button color="primary">Подключиться</button>
      <button mat-raised-button color="warn" (click)="onUnRentServer()">Вернуть</button>
      <app-support-add-button></app-support-add-button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
